{% extends "base1skinnycolumn.html" %}

{% block column %}
<table>
	<tr>
		<th>About</th>
	</tr>
	<tr>
		<td><p>
		ButOneApp is a button for the android phone. Pressing it uploads a tiny package of data with your username, tag, and gps location to this website. To view the uploaded tags, click on Home in the upper-left corner of your browser.
		</p></td>
	</tr>
		<tr>
			<th>Credits</th>
		</tr>
		<tr>
			<td><p style="text-align: center">Concept by <a href="http://venice2point0.blogspot.com">Fabio Carrera</a></p></td>
		</tr>
		<tr>
			<td><p style="text-align: center">Coded by <a href="http://www.corrugatedpress.com">Ben Lichtner</a></p></td>
		</tr>
		<tr>
			<td><p style="text-align: center">Updated by <a href="http://www.comicka.com/content/portfolio/index.html">Michael Frankfort</a></p></td>
		</tr>
			<tr>
			<td><p style="text-align: center">Code broken by <a href="http://www.m0ose.com/">Cody Smith</a></p></td>
		</tr>

		
		<tr>
			<td><p>Send bug reports, feature requests, and everything else to:</p></td>
		</tr>
		<tr>
			<td><p style="text-align: center; color: #555555;">bennlich (at) gmail (dot) com</p></td>
		</tr>
	</table>
{% endblock %}