{% extends "base1skinnycolumn.html" %}

{% block header %}
<h1 style="letter-spacing: 5px; text-align:center; margin: 10 auto;">TaxiApp</h1>
{% endblock %}

{% block column %}
<table>
	<tr>
		<td><img src="/downloads/lionLogo.png"></td>
	</tr>
</table>
	<div style="text-align:center">
		<img src="http://qrcode.kaywa.com/img.php?s=6&d=http%3A%2F%2Fgeotageverything.appspot.com%2Fdownloads%2FTaxiSMS.apk" alt="qrcode"  />
	</div>
	<div class="columnEntry"><a href="/downloads/TaxiSMS.apk">Download TaxiApp (alpha 1.0)</a></div>
{% endblock %}

{% block nav %}
{% endblock %}